/* mediaqueries.css */
@media (max-width: 1200px) {
    section {
        padding: var(--section-padding) 10%;
    }
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .title {
        font-size: 2rem;
    }

    section {
        padding: var(--section-padding) 5%;
    }

    .experience-container,
    .publications-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.75rem;
    }

    .experience-item,
    .publication-item {
        padding: 1.5rem;
    }

    .section__text__p2 {
        font-size: 1rem;
    }
}